body {
    background-color: #f7f7f7;
    color: #333;
    margin: 20px;
    line-height: 1.6;
}

nav {
    background-color: #e6f0ff;
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav a:hover {
    color: #89b8da;
}

/* Main Sections */
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1,
h2 {
    color: #060606;
    text-align: center;
}

ul {
    padding-left: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
}



article {
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 5px solid #004080;
    margin-top: 20px;
}

footer {
    text-align: center;
    color: #777;
    font-size: 0.9em;
}

section figure img {
    margin: 0;
    display: inline-block;
}

section h2 {
    text-align: left;
}